div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 100vh;
  text-align: center;
}

.button-delete {
  font-size: 12px;
  padding: 3px 12px;
  border-radius: 5px;
  color: #fff;
  background-color: #f00;
  border: none;
}
