.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cars a {
  text-decoration: none;
}

.car-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 200px;
  margin: 5px;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.089) 0 6px 12px -2px, rgba(0, 0, 0, 0.116) 0 3px 7px -3px;
}

.car-container h4 {
  margin-top: 10px;
  font-size: 16px;
  color: var(--secondary-color);
}

.car-container p {
  font-size: 12px;
  color: var(--text-2);
  height: 80px;
  overflow-y: scroll;
}

.car-container img {
  max-width: 120px;
}

.car-image {
  margin-top: 10px;
  height: 80px;
}

.dot {
  height: 80px;
  width: 80px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -99;
  opacity: 0.7;
}
